body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #000;
  padding-bottom: 30px;
}

p {
  line-height: 28px;
  color: #666;
  font-weight: 300;
}

.big-text {
  font-size: 70px;
  font-weight: 900;
}

.gra-text {
  font-size: 45px;
  font-weight: 900;
}

.gra-text1 {
  font-size: 60px;
  font-weight: 900;
}

.gra-text2 {
  font-size: 30px;
  font-weight: 900;
}

.med-text {
  font-size: 40px;
}

.normal-text {
  font-size: 20px;
  color: #000;
}

.new-normal-text {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.small-text {
  font-size: 16px;
}

.small-text1 {
  font-size: 13px;
}

.tra-text {
  color: transparent;
  font: 16px;
}

.bold-normal-text {
  font-size: 25px;
  font-weight: 900;
}

.bold-normal-text1 {
  font-size: 25px;
  font-weight: 900;
  padding: 0 10px;
}

.bold-normal-text2 {
  font-size: 20px;
  font-weight: 900;
}

.bold-normal-text3 {
  font-size: 25px;
  font-weight: 900;
  padding-top: 30px;
}

.intro-text {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.intro-text1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
}

.small-text2 {
  font-style: oblique;
}

.normal-text1 {
  font-size: 15px;
  padding: 10px 10px;
}

.normal-text2 {
  font-size: 15px;
  padding: 0px 0px;
}

.button {
  padding: 18px 28px;
  background-color: #0199d9;
  color: white;
  display: inline-block;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .big-text {
    font-size: 40px;
  }
}

.color-teal   { background-color: #00adbb; }
.color-yellow { background-color: #f7a81b; }
.color-orange { background-color: #ff7600; }
.color-red    { background-color: #e02927; }
.color-pink   { background-color: #d41367; }
.color-purple { background-color: #901f93; }
.color-green  { background-color: #009739; }
.color-blue   { background-color: #0067c8; }
.color-azure  { background-color: #0199d9; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  display: flex;
  max-width: 1350px;
  z-index: 1000;
  background: linear-gradient(to bottom, rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.2));
}

.logo {
  z-index: 1;
}

.menu {
  transition: all 1s cubic-bezier(.215, .61, .355, 1);
  width: 100%;
  z-index: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  color: white;
  padding: 15px;
  display: block;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .cta {
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: -100%;
    background: #0067c8;
    height: 100vh;
    padding-top: 80px;
    padding-left: 30px;
  }

  .menu li {
    display: block;
  }

  .menu--open {
    right: 0%;
  }

  .hamburger {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40px;
    right: 30px;
  }

  .hamburger span {
    background-color: white;
    height: 3px;
    width: 100%;
    display: block;
    margin-bottom: 5px;
  }

}

.hero-base {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.hero-base::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0,0.7));
    z-index: 1; 
}

.hero-small {
    height: 550px;
    text-align: center;
    justify-content: center;
}

.hero__content {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 50px;
    position: relative;
    z-index: 2;
}

.hero__content h1,
.hero__content p { color: white; }

.poster {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.poster__img {
  width: 65%;
  height: 100%;
}

.poster__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.poster__content {
  width: 35%;
  padding: 50px;
}

@media (max-width: 768px) {
  .poster {
    flex-wrap: wrap;
    height: auto;
  }

  .poster__img,
  .poster__content {
    width: 100%;
  }
}

.bg-cover {
  display: flex;
  padding: 100px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0.7)),
    url("../img/Home\ p.2.jpg") no-repeat center center;
}

.bg-cover__text {
  width: 50%;
  padding: 30px;
}

.bg-cover__title {
  width: 50%;
  padding: 50px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .bg-cover {
    flex-wrap: wrap;
    height: auto;
  }

  .bg-cover__text,
  .bg-cover__title {
    width: 1000%;
  }
}

.grid {
  display: flex;
  max-width: 1350px;
  padding: 0 30px;
  margin: 0 auto;
}

.grid .col {
  width: 100%;
}

@media (max-width: 768px) {
  .grid {
    flex-wrap: wrap;
  }
}

.main-carousel {
  width: 100%;
}

.carousel-cell {
  height: 350px;
  width: 350px;
  margin-right: 40px;
  margin-left: 20px;
}

.carousel-content {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
  color: white;
  font-weight: 600;
  background-image: url('Dot Chi Siamo Page.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.panel-blue {
  background-color: white;
  padding: 100px 30px;
}

.panel-blue__text {
  display: flex;
  align-items: center;
}

.footer {
  background: white;
  padding: 80px 20px;
  box-sizing: border-box;
  text-align: center;
}

.footer__info {
  margin-bottom: 30px;
}

.footer__title,
.footer__subtitle,
.footer__contact {
  margin: 10px 0;
  color: black;
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
  padding: 0;
  list-style: none;
}

.footer__social li a img {
  display: block;
  width: 40px;
  height: auto;
}

.footer__legal p {
  margin: 5px 0;
  color: black;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 50px 15px;
  }

  .footer__social {
    gap: 15px;
  }
}

.content {
  max-width: 900px;
  margin: 40px auto;
}

.mt-1 {
  margin-top: 50px;
}

.mt-2 {
  margin-top: 100px;
}

.mt-3 {
  margin-top: 150px;
}

.mt-4 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mt-5 {
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
}

.tw {
  color: #fff;
}

@media (max-width: 768px) {
  .mt-sma-0 {
    margin-top: 0;
  }

  .mt-sma-0 {
    margin-bottom: 0;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}