<footer class="footer">
        <div class="footer__info">
            <p class="footer__title bold-normal-text">
            Interact Club Benevento <br />Liceo G. Rummo
            </p>
            <p class="footer__subtitle new-normal-text">Puoi Trovarci Anche Qui!</p>
        </div>

        <ul class="footer__social">
            <li>
            <a href="https://www.instagram.com/interactliceorummo/profilecard/">
                <img src="img/Instagram Logo.webp" alt="Instagram">
            </a>
            </li>
            <li>
            <a href="https://www.facebook.com/profile.php?id=100079244300075&mibextid=wwXIfr">
                <img src="img/Facebook Logo.webp" alt="Facebook">
            </a>
            </li>
        </ul>

        <p class="footer__contact">interactrummo@gmail.com</p>

        <div class="footer__legal">
            <p>Made by Lucia Capuano © 2026 Interact Club.</p>
            <p>All Rights Reserved.</p>
        </div>
</footer>